<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- 强制所有 0Harmony 引用指向 2.2.2.0 版本 -->
			<dependentAssembly>
				<assemblyIdentity name="0Harmony" publicKeyToken="null" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="2.2.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>